<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  
  <body>
    <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <form action="/identify">
        <button type="submit">Click</button>

      </form>
  </div>
  <script src="./bundle.js"></script>
  </body>
</html>
